{% extends "layout.html" %}

{% block content %}
<h1>Tasks of {{task_project}}</h1>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a href="{% url 'task_projects' %}" class="btn btn-dark">Task Projects</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'new_task' task_project.pk%}" class="btn btn-primary">New Task</a>
    </li>
</ul>
<table class="table table-hover orderByDateTable">
    <thead order_col_no="0">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Deadline</th>
        <th scope="col">Progress</th>
        <th scope="col">Created on</th>
        <th scope="col">Last modified</th>
        <th scope="col">View</th>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td><span class="task-status task-status-{{task.status.shortname}}">{{task.status.longname}}</span></td>
            <td>{{task.deadline}}</td>
            <td>{{task.progress}}</td>
            <td>{{task.created_on}}</td>
            <td>{{task.last_modified}}</td>
            <td><a href="{% url 'task' task.pk %}" class="btn btn-dark">View</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}