{% extends "layout.html" %} {% block content %}
{% load markdownify %}
<h1>Task details</h1>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary">Edit</a>
  </li>
  <li class="list-group-item">
    <a
      href="{% url 'tasks_of_project' task.task_project.pk %}"
      class="btn btn-primary"
      >Tasks of Project</a
    >
  </li>
</ul>

<div class="container">
  <table class="table table-hover">
    <thead>
      <th>Field</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{task.name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{task.description}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>
          <span class="task-status task-status-{{task.status.shortname}}"
            >{{task.status.longname}}</span
          >
        </td>
      </tr>
      <tr>
        <td>Deadline</td>
        <td>{{task.deadline}}</td>
      </tr>
      <tr>
        <td>Progress</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar w-{{task.progress}}"
              role="progressbar"
              aria-valuenow="{{task.progress}}"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>          
        </td>
      </tr>
      <tr>
        <td>Created on</td>
        <td>{{task.created_on}}</td>
      </tr>
      <tr>
        <td>Las modified</td>
        <td>{{task.last_modified}}</td>
      </tr>
    </tbody>
  </table>
</div>

<form method="post" action="{% url 'task' task.pk %}">
  {% csrf_token %}

  <div class="form-group">
    {{ form.comment.label_tag }}
    {{ form.comment }}
  </div>

  <input type="submit" value="Submit" class="btn btn-primary" />
</form>


{% for comment in comments %}
<div class="row">
  <div class="col">
    <div style="font-size: 7px; color: gray">{{comment.created_on}}</div>
    <div>{{ comment.comment|markdownify }}</div>
  </div>
</div>
{% endfor %}



{% endblock %}
